<FilesMatch "\.(html)$">
    ExpiresDefault A0
    Header set Cache-Control "no-cache, no-store, must-revalidate, max-age=0, proxy-revalidate, no-transform"
    Header set Pragma "no-cache"
</FilesMatch>

<FilesMatch "\.(js|css|png|jpg|gif|pdf)$">
    Header set Cache-Control "max-age=2592000"
</FilesMatch>
